// 字体定义规范
// $font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 24px;

// 媒体查询
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1920px;
$breakpoints: (
  'xs': (
    max-width: $sm - 1
  ),
  'sm': (
    min-width: $sm
  ),
  'md': (
    min-width: $md
  ),
  'lg': (
    min-width: $lg
  ),
  'xl': (
    min-width: $xl
  )
);

// header
$header-height: 55px;

// sidebar
$sidebar-width: 210px;

// footer
$footer-height: 60px;

// scrollbar
$scrollbar-size: 7px;

// router-view
$router-view-max-width: 1000px;

// player
$player-max-width: 820px;

// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
